
:root{
  --primary : #BAAC1D;
--sub_text_color : #0000FF;
--bg_light :  #f1f1f1;
--bg_main : #fff;
--shadow: 0 1px 5px rgba(104, 104, 104, 0.8);
}

body{
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: var(--bg_light);
  color: black;
 
  /* line-height: 1.5; */
 
}
.container {
  width: 90%;
  max-width: 1900px;
  margin: auto;
  min-height: calc(100vh - 58px);
  /* min-height: calc(100vh - 153px - 58px); */
}
.text_light{
  color: #777;
}

.btn{
  border-radius: 10px;
  line-height: 2rem;
}
/**********************header**************************************/

.page-header {

    overflow: hidden; 
    display: flex; align-items: center; justify-content: space-between; flex-direction: row; /**flex**/
    /* position: relative;             */
    
    /* background: #ccc; */
    box-shadow: var(--bg_light);
  
}

.header_text{
    color: var(--primary);
}

.header_subtext{
color: var(--sub_text_color);
}
/*********************navigation-sidebar-desktop************************/
nav.sidebar{
    width: 200px;
    height: 100%;
    /* background:var(--bg_light); */
    padding: 30px 0px;
    position: fixed;
    z-index: 10;
  }
  .sidebar ul li{
    padding: 12px;
/* border-bottom: 1px solid #bdb8d7; */
    border-bottom: 1px solid rgba(0,0,0,0.05);
    border-top: 1px solid rgba(255,255,255,0.05);
    list-style: none;
  }    

 
  
    ul li a{
    /* color: #bdb8d7; */
    display: block;
    text-decoration: none;
    font-size: 1rem;
    /* color: var(--sub_text_color); */
    color: #777;
    min-height: calc(100vh - 211px -58px);

    
  }

  ul li a:hover{
    color: #2d3034;
  }

  ul li a .fa-caret-down {
    margin-left: 1em;
  }

  
  /* nav .sidebar ul li a .fas{
    width: 25px;
  } */
  
  .sidebar ul li:hover{
    background-color: var(--bg_main);
  

  }
  

  /********************dropdown in sidebar*********************/
  ul li .dropdown_content {
    /* width: 100%; */
    display: none;
  }
 ul li:hover .dropdown_content{
      
    display: block;
    padding-left: 0px;
       
  }


  ul li ul .dropdown_content li {
    display: block;
   
  }
  
  /*** Text styles Frank*********/
  .Stil3 {
    color: var(--primary);
    font-size: 120%;
    /* font-style: italic; */
  }
  .Stil6 {
    font-size: x-large;
    font-weight: bold;
    color: #DEDFEF;
  }
  .Stil7 {color: var(--sub_text_color)}
  .Stil8 {
    color: var(--primary);
    font-weight: bold;
  }
  .Stil9 {
    font-size: xx-large;
    /* font-style: italic; */
  }
  .Stil10 {font-size: small}

  
      
       
      
       

  /*************************************Main Content Section****************/

  .main_container{
    
      margin-left: 210px; 
      /* display: grid; grid-gap: 1em; grid-template-columns: 50% repeat(2, 1fr); justify-content: space-between; */
      background:var(--bg_light);
      margin-bottom: 20px;
  }
   
  
    /**section heading**/
    .section_heading h2{
      font-size: 2.5rem ;
      font-weight: lighter;
      /* font-style: italic; */
      color: var(--sub_text_color);
      text-align: center;
      
      
        }

  .section_content{
      border-radius: 10px;
     /* background: #fff; */
      /* border: 2px groove rgba(252, 252, 252, 0.438); */
      box-shadow: --shadow;
      box-sizing: border-box;
      margin-bottom: 10px;
      /* padding-top: 10px; */
      text-align: center;

  }

  .main_text{
    align-items: center;
    text-align: center;
  }

/** for downloads spacing**/
  .section_content article ol li{
    padding: 10px;
     }


  .section_content h3{
    font-size: 1.5rem;
  }


  .section_cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    margin-bottom: 40px;
}
.section_cards .item{
  background-color: var(--bg_light);
  border-radius: 10px;
  box-shadow: var(--shadow);
  padding: 2px 0 2px 2px;
  margin-bottom: 2px;
}

.section_cards .item:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



.section_cards img {
  width: 100%;
  margin-bottom: 10px;
}

.section_cards h3{
  margin-bottom: 5px;
}

.section_cards a{
  display: inline-block;
  padding-top: 10px;
  color: #0067b8;
  font-weight: lighter;
  margin-left: 5px;
}

.section_cards a:hover i {
  margin-left: 10px;
}

.section_cards ul{
  list-style: none;
}



/*****************footer******************/

.footer{
  position: absolute;
  background: #bbbbbb;;
  height: 58px;
  width: 100%;
  justify-content: space-around;
  padding-top: 10px;
  display: flex;
  align-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
  }
  .footer a {
    margin: 0 50px;
  }

  .footer a:hover{
    color: var(--bg_light);

  }

  .footer .left_aligned{
    align-items: left;
  }

  .footer .right_aligned{
align-items: right;

  }

  /*****************************von A bis Z (from Frank)********************************************/

  .Stil1 {
    font-size: large;
    
  }

  .Stil4 {
    font-size: medium
  }
  .Stil6 {font-size: large; font-weight: bold; color: black; }
.Stil7 {font-size: xx-large}
.Stil9 {font-size: xx-large; font-weight: bold; }
.Stil11 {
	font-size: large;
	font-weight: bold;
	color: var(--sub_text_color);
}
.Stil12 {color: var(--sub_text_color); font-size: large;}
.Stil15 {font-size: medium; font-style: italic; }
.Stil16 {
	color: var(--primary);
	font-weight: bold;
}
.Stil17 {
	color: var(--primary);
	font-weight: bold;
	font-size: x-large;
}
.Stil18 {font-size: xx-large; font-weight: bold; color: var(--sub_text_color); }
.Stil19 {color: var(--primary); font-weight: bold; font-size: large; }
.Stil22 {font-style: italic}
.Stil23 {font-size: medium; font-style: italic; font-weight: bold; }
.Stil24 {color: var(--primary)}
.Stil25 {font-size: large; color: var(--primary);}

  